.app-footer {
	padding: $app-top-menu-component-padding-y;
	border-top: 1px solid $app-footer-border;
	font-weight: $font-weight-bold;
	color: $app-footer-color;
	position: absolute;
	bottom: 0;
	width: 96%;
}

